* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

.mainpage,
.suppliespage,
.faqpage {
  background-color: #75a680;
  width: 100%;
}

.plantspage,
.merchpage,
.blogpage,
.cartpage {
  background-color: #f6ddca;
  width: 100%;
}
