* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

.mainpage,
.suppliespage,
.faqpage,
.cartpage {
  background-color: #ffefe3;
  width: 100%;
}

.plantspage,
.merchpage,
.blogpage {
  background-color: #86ad9a;
  width: 100%;
}
