a {
  text-decoration: none;
  margin-left: 50px;
  margin-right: 50px;
}

a:hover {
  cursor: pointer;
}

/** GREEN NAVBAR **/

.green-navbar {
  display: flex;
  justify-content: space-evenly;
  margin-left: 20px;
  margin-right: 20px;
  border-bottom: 12px solid #75a680;
}

.green-nav {
  margin-top: 20px;
  margin-bottom: 7px;
}

.g-title {
  font-family: "Lora", serif;
  font-weight: bolder;
  font-size: 60px;
  color: #75a680;
}

.g-plant,
.g-supplies,
.g-merch,
.g-faq,
.g-blog,
.g-cart {
  font-family: "Karla", serif;
  font-weight: 700;
  font-size: 20px;
  color: #75a680;
}

.g-plant:hover,
.g-supplies:hover,
.g-merch:hover,
.g-faq:hover,
.g-blog:hover,
.g-cart:hover {
  position: relative;
  top: -10px;
  border-bottom: 5px solid #75a680;
}

.g-highlighted {
  position: relative;
  top: -10px;
  border-bottom: 5px solid #75a680;
}

/** GREEN NAVBAR **/

/** BEIGE NAVBAR **/

.beige-navbar {
  display: flex;
  justify-content: space-evenly;
  margin-left: 20px;
  margin-right: 20px;
  border-bottom: 12px solid #f6ddca;
}

.beige-nav {
  margin-top: 20px;
  margin-bottom: 7px;
}

.b-title {
  font-family: "Lora", serif;
  font-weight: bolder;
  font-size: 60px;
  color: #f6ddca;
}

.b-plant,
.b-supplies,
.b-merch,
.b-faq,
.b-blog,
.b-cart {
  font-family: "Karla", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #f6ddca;
}

.b-plant:hover,
.b-supplies:hover,
.b-merch:hover,
.b-faq:hover,
.b-blog:hover,
.b-cart:hover {
  position: relative;
  top: -10px;
  border-bottom: 5px solid #f6ddca;
}

.b-highlighted {
  position: relative;
  top: -10px;
  border-bottom: 5px solid #f6ddca;
}

/** BEIGE NAVBAR **/
