a {
  text-decoration: none;
  margin-left: 50px;
  margin-right: 50px;
}

a:hover {
  cursor: pointer;
}

/** GREEN NAVBAR **/

.green-navbar {
  display: flex;
  justify-content: space-evenly;
  margin-left: 20px;
  margin-right: 20px;
  border-bottom: 7px solid #86ad9a;
}

.green-nav {
  margin-top: 20px;
  margin-bottom: 7px;
}

.g-title {
  font-family: "Lora", serif;
  font-weight: bolder;
  font-size: 60px;
  color: #86ad9a;
}

.g-plant,
.g-supplies,
.g-merch,
.g-faq,
.g-blog,
.g-cart {
  font-family: "Karla", serif;
  font-weight: 700;
  font-size: 20px;
  color: #86ad9a;
}

.g-plant:hover,
.g-supplies:hover,
.g-merch:hover,
.g-faq:hover,
.g-blog:hover,
.g-cart:hover {
  position: relative;
  top: -10px;
  border-bottom: 5px solid #86ad9a;
}

.g-highlighted {
  position: relative;
  top: -10px;
  border-bottom: 5px solid #86ad9a;
}

@media screen and (max-width: 675px) {
  .green-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .g-plant,
  .g-supplies,
  .g-merch,
  .g-faq,
  .g-blog,
  .g-cart {
    margin: 5px;
  }
  .g-plant:hover,
  .g-supplies:hover,
  .g-merch:hover,
  .g-faq:hover,
  .g-blog:hover,
  .g-cart:hover {
    background-color: #86ad9a;
    color: #ffefe3;
    top: 0;
    border-bottom: 0;
  }
  .g-highlighted {
    background-color: #86ad9a;
    color: #ffefe3;
    top: 0;
    border-bottom: 0;
  }
}

/** GREEN NAVBAR **/

/** BEIGE NAVBAR **/

.beige-navbar {
  display: flex;
  justify-content: space-evenly;
  margin-left: 20px;
  margin-right: 20px;
  border-bottom: 7px solid #ffefe3;
}

.beige-nav {
  margin-top: 20px;
  margin-bottom: 7px;
}

.b-title {
  font-family: "Lora", serif;
  font-weight: bolder;
  font-size: 60px;
  color: #ffefe3;
}

.b-plant,
.b-supplies,
.b-merch,
.b-faq,
.b-blog,
.b-cart {
  font-family: "Karla", sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #ffefe3;
}

.b-plant:hover,
.b-supplies:hover,
.b-merch:hover,
.b-faq:hover,
.b-blog:hover,
.b-cart:hover {
  position: relative;
  top: -10px;
  border-bottom: 5px solid #ffefe3;
}

.b-highlighted {
  position: relative;
  top: -10px;
  border-bottom: 5px solid #ffefe3;
}

@media screen and (max-width: 675px) {
  .beige-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .b-plant,
  .b-supplies,
  .b-merch,
  .b-faq,
  .b-blog,
  .b-cart {
    margin: 5px;
  }
  .b-plant:hover,
  .b-supplies:hover,
  .b-merch:hover,
  .b-faq:hover,
  .b-blog:hover,
  .b-cart:hover {
    background-color: #ffefe3;
    color: #86ad9a;
    top: 0;
    border-bottom: 0;
  }
  .b-highlighted {
    background-color: #ffefe3;
    color: #86ad9a;
    top: 0;
    border-bottom: 0;
  }
}

/** BEIGE NAVBAR **/
